<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id="navbar" class="container bg-body" style="position: sticky; top: 0;">
	<a href={{ url_for("index") }}>Index</a>
	{% if "user_id" in session %}
		<a href={{ url_for("logout") }}>Logout</a>
		{% if session["user_is_admin"] == 1 %}
			<a href={{ url_for("make_post") }}>Make a post</a>
			<a href="{{ url_for("tag_edit") }}">Add/remove tags</a>
		{% endif %}
	{% else %}
		<a href={{ url_for("login") }}>Login</a>
		<a href={{ url_for("register") }}>Register</a>
	{% endif %}
	<form action="{{ url_for("search")}}" method="post">
		<label for="search_bar">Search: </label>
		<input type="text" id="search_bar" name="search_bar">
		<input type="submit" name="search" value="Pretend this is a magnifying glass">
	</form>
</div>
<br>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>