<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title
</head>
<body>
<div id="navbar">
	<a href={{ url_for("index") }}>Index</a>
	{% if "user_id" in session %}
		<a href={{ url_for("logout") }}>Logout</a>
		{% if session["user_is_admin"] == 1 %}
			<a href={{ url_for("make_post") }}>Make a post</a>
			<a href="{{ url_for("tag_edit") }}">Add/remove tags</a>
		{% endif %}
	{% else %}
		<a href={{ url_for("login") }}>Login</a>
		<a href={{ url_for("register") }}>Register</a>
	{% endif %}
	<form action="{{ url_for("search")}}" method="post">
		<label for="search_bar">Search: </label>
		<input type="text" id="search_bar" name="search_bar">
		<input type="submit" name="search" value="Pretend this is a magnifying glass">
	</form>
</div>
<br>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>