<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-secondary position-sticky top-0">
<div class="container-fluid justify-content-center">
	<div class="navbar-nav">
		<a class="nav-link" href={{ url_for("index") }}>Index</a>
		<div class="navbar-nav">
			{% if "user_id" in session %}
				<a class="nav-link" href={{ url_for("logout") }}>Logout</a>
				{% if session["user_is_admin"] == 1 %}
					<a class="nav-link" href={{ url_for("make_post") }}>Make a post</a>
					<a class="nav-link" href="{{ url_for("tag_edit") }}">Add/remove tags</a>
				{% endif %}
			{% else %}
				<a class="nav-link" href={{ url_for("login") }}>Login</a>
				<a class="nav-link" href={{ url_for("register") }}>Register</a>
			{% endif %}
			<form class="d-flex" role="search" action="{{ url_for("search")}}" method="post">
				<input type="text" id="search_bar" name="search_bar">
				<input type="submit" name="search" value="Search">
			</form>
		</div>
	</div>
</div>
</nav>
<br>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>